@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.arrivals-heading{
  @include flex-center;
  align-self: center;
  margin-top: 150px ;
  font-size:3.5rem !important;
}

.arrivals-products{
  margin: 100px;
  margin-top: 70px;
  @include flex-between();
  font-weight: 400;
  //flex-wrap: wrap;
  overflow-y: auto;

  &::-webkit-scrollbar{
    display:none;
  }
}
.product-img{
  background-color: $cream;
  border-radius: 5%;
}

.product-price{
  font-family: "Satoshi";
  font-weight: 700;

  .price-old{
    color:grey;
    text-decoration:line-through ;
  }
  .discount{
    //background-color: rgb(255, 192, 192);
    border-radius: 10%;
    padding: 7px;
    color: red;
  }
}

.view-all-btn{
  background-color: transparent;
  color: black;
  border:1px solid grey;
  display: block;
  margin:0 auto ;
  height:3rem;
  width:13rem;
  border-radius: 4rem;
  :hover{
    scale: 105;
    transition: all;
    transition-duration:300;
  }
}

