@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.browse{
  width: 85%;
  margin: 100px auto;
  background-color: $cream;
  border-radius: 1.5rem;
  //padding: 3rem;
}

.browse-heading {
  @include flex-center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.top-2,
.bottom-2 {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding:0 2rem;

  &:last-child {
    //margin-bottom: 0;
    padding-bottom: 2rem;
  }
}

.casual,
.formal,
.party,
.gym {
  border-radius: 1rem;
  overflow: hidden;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
}

.casual {
  flex: 0 0 38%;
}

.formal {
  flex: 1;
}

.party {
  flex: 0 0 62%;

 
}

.gym {
  flex: 1;
}