@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero{
  height:45rem;

  //min-height: max-content;
  background-image: url("../assets/images/Rectangle\ 2.png");
  background-size: cover;
  background-position: center;

}

.hero-div{
  width:45%;
  @include flex-center(column,flex-start,$ht1);
  margin-left:8%;
  //align-items: flex-start;

}

.hero-heading{
  font-size :4rem;
  line-height: 1;

}

.hero-para{
  margin-top:0%;
}

.hero-btn{
  @include button;
  width:40%;
  height:3rem;
  border-radius: 62px;
  align-self: flex-start;
  
}

.hero-2{
  width:90%;
  margin-top:5%;
  margin-bottom:2rem;
}

.brands{
  background-color: black;
  @include flex-between;
  margin-top: 10%;
  padding:5%;
}
